@import url('https://fonts.googleapis.com/css2?family=Young Serif:wght@400&display=swap&family=Outfit:wght@400;600;700&display=swap');

:root {
    /* Base Color Palette */
    --white: hsl(0, 0%, 100%);
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);

    /* Semantic Assignments */
    --color-primary: var(--rose-800);
    --color-primary-light: var(--rose-50);
    --color-secondary: var(--brown-800);
    --color-text-primary: var(--stone-900);
    --color-text-secondary: var(--stone-600);
    --color-border: var(--stone-150);
    --color-surface: var(--white);
    --color-background: var(--stone-100);


    /* Typography */
    --font-family-young-serif: 'Young Serif', serif;
    --font-family-outfit: Outfit, sans-serif;

    /* Font Sizes */
    --font-size-xl: 2.5rem; /* 40px */
    --font-size-xl-mobile: 2.25rem; /* 36px */
    --font-size-lg: 1.75rem; /* 28px */
    --font-size-md: 1.25rem; /* 20px */
    --font-size-base: 1rem; /* 16px */

    /* Font Weights */
    --font-weight-normal: 400; /* Regular */
    --font-weight-semibold: 600; /* SemiBold */
    --font-weight-bold: 700; /* Bold */

    /* Line Heights */
    --line-height-tight: 100%;
    --line-height-normal: 150%;

    /* Letter Spacing */
    --letter-spacing-normal: 0;

    /* Spacing */
    --space-8xl: 8rem; /* 128px */
    --space-3xl: 3rem; /* 48px */
    --space-2xl: 2.5rem; /* 40px */
    --space-xl: 2rem; /* 32px */
    --space-lg: 1.5rem; /* 24px */
    --space-md: 1rem; /* 16px */
    --space-sm: 0.75rem; /* 12px */
    --space-xs: 0.5rem; /* 8px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
}

figure {
    img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.recipe {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-2xl) var(--space-xl);
}

.recipe__title {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.recipe__title h1 {
    font-family: var(--font-family-young-serif);
    font-size: var(--font-size-xl-mobile);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
}

.recipe__title p {
    color: var(--color-text-secondary);
}

.recipe__preparation {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    background-color: var(--color-primary-light);
    padding: var(--space-lg);
    border-radius: 0.75rem;
}

.recipe__preparation h2 {
    font-family: var(--font-family-outfit);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    color: var(--color-primary);
}

.recipe__preparation ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    color: var(--color-text-secondary);
    list-style-position: outside;
}

.recipe__preparation li {
    color: var(--color-text-primary);
    margin-left: var(--space-lg);;
    padding-left: var(--space-md);;
}

.recipe__preparation li b {
    font-weight: var(--font-weight-bold);
}

.recipe__ingredients {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.recipe__ingredients h2 {
    font-family: var(--font-family-young-serif);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    color: var(--color-secondary);
}

.recipe__ingredients ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    color: var(--color-text-secondary);
    list-style-position: outside;
}

.recipe__ingredients li {
    color: var(--color-text-secondary);
    margin-left: var(--space-lg);
    padding-left: var(--space-md);
}

.recipe__instructions {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.recipe__instructions h2 {
    font-family: var(--font-family-young-serif);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    color: var(--color-secondary);
}

.recipe__instructions ol {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    list-style-position: outside;
    margin-left: var(--space-lg);
}

.recipe__instructions li {
    color: var(--color-text-secondary);
    padding-left: var(--space-md);
}

.recipe__instructions li::marker {
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);
}

.recipe__nutrition {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.recipe__nutrition h2 {
    font-family: var(--font-family-young-serif);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-tight);
    color: var(--color-secondary);
}

.recipe__nutrition p {
    color: var(--color-text-secondary);
}

.nutrition-table__name {
    color: var(--color-text-secondary);
    padding-left: var(--space-xl);
    padding-top: 12px;
    padding-bottom: 12px;
}

.nutrition-table__value {
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
    padding-left: var(--space-md);
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.recipe__nutrition table {
    border-collapse: collapse;
}

.recipe__nutrition tr:first-child td {
    padding-top: 0;
}

.recipe__nutrition tr:last-child td {
    padding-bottom: 0;
}

.recipe__nutrition tr:not(:last-child) {
    border-bottom: 0.0625rem solid var(--color-border);
}

hr {
    width: 100%;
    height: 0.0625rem;
    background-color: var(--color-border);
    border: none;
}

/* Tablet  */
@media (min-width: 768px) {
    main {
        background-color: var(--color-surface);
        max-width: 616px;
        padding: var(--space-2xl);
        border-radius: 1.5rem;
    }

    body {
        background-color: var(--color-background);
        padding: var(--space-8xl) var(--space-3xl);
    }

    figure img {
        height: 300px;
        border-radius: 0.75rem;
    }
}

/* Desktop */
@media (min-width: 992px) {
    main {
        max-width: 736px;
    }
}